div .divtab :hover {
    background-color: #C4E6F5;
    text-decoration-color: #269abc;
    text-decoration: underline;
    cursor: pointer;
}

div .resizable {
    resize: horizontal;
}

.row-detail-container{
    border-top: solid 3px #EEE; 
    margin-top: 15px; 
    margin-bottom: 5px;
    margin-left: 15px;
    padding-left: 12px;
    font-family: Garamond, serif, Perpetua;
    font-size: 16px;
}
.margin-left-block{
    margin-left: 5px;
}
.row-detail-container .row-detail-header{
    margin-top: -15px ; 
    margin-bottom: 10px;
    background-color: white; 
    width: fit-content;
    margin-left: -14px; 
    padding-right: 5px; 
    padding-left: 5px;
    font-weight: bold;
}

.row-detail-container .row-detail-icon{
    margin-top: -15px ; 
    margin-bottom: 10px;
    background-color: white; 
    width: fit-content;
    margin-left: -14px; 
    display: none;
    padding-right: 5px; 
    padding-left: 5px;
    float: right;
    font-size: 12px;
    cursor: pointer;
}

.gi-12x{
    font-size: 12px;  
}

.gi-14x{
    font-size: 14px;  
}

.commentaire {
    font-family: Garamond, serif, Perpetua;
    font-size: 13px;
}
.row-detail-container .row label{
    color: #707070;
    font-size: 14px;

}

.show-on-hover span {
    visibility: hidden; 
}
.show-on-hover:hover span {
    visibility: visible; 
}

.selected-div {
    background-color : rgb(255,155,88);
    color: white;
} 
div.selected-div span {
    color: white;
    text-decoration: none;
}


.div-item span{
    color: #2a6496;
}

.div-list{
    min-height: 475px;
}

.div-item:hover{
    cursor: pointer;
}

#localisationMapModalForm .modal-dialog {
    //width: 50%;
}
#editlocalisationModalForm input[type="text"]{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px;  
    width: 75%;
}

/*.gm-style-iw {
  width: 300px; 
  min-height: 150px;
  overflow-y: hidden;
}*/
